<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SlideASeal</title>
    <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}" />
</head>
<body>

    {{{body}}}

</body>
</html>