<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SlideASeal</title>
        <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}"/>
        <link rel="stylesheet" href="/stylesheets/vendor/animate.css/animate.css{{cachebust}}"/>
    </head>
    <body>
        <header>
            <img class="bounceInDown" src="/Images/logo.png" alt="Slide a Seal"/>
        </header>
        <main class="fadeIn">
            {{{body}}}
        </main>
        <footer class="bounceInUp">
            Stefan Bieliauskas, Fabian Junge und Jennifer Theloy<br />
            Erstellt im Modul Medieninformatik 2 bei Mirko Haalck
        </footer>
    </body>
</html>