<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SlideASeal</title>
        <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}"/>
        <link rel="stylesheet" href="/stylesheets/vendor/animate.css/animate.css{{cachebust}}"/>
    </head>
    <body>
        <header>
            <img class="bounceInDown animated"  src="/Images/logo.png" alt="Slide a Seal"/>
        </header>
        <main class="fadeIn animated-delay-long animated ">
            {{{body}}}
        </main>
        <footer class="bounceInUp animated">
            Stefan Bieliauskas, Fabian Junge und Jennifer Theloy<br />
            Erstellt im Modul Medieninformatik 2 bei Mirko Haalck
        </footer>
    </body>
</html>