<!DOCTYPE html>
<html>
  <head>
    <title>Mimosa</title>

    <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}" />

  </head>
  <body>

  <h1>Test</h1>
    <div class="ipad-warper">
        <div id="gamefield">

        </div>
    </div>


    {{#optimize}}
    <p>Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.</p>
    {{/optimize}}


    {{#reload}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/reload-client.js"></script>
    {{/reload}}

    {{#optimize}}
        <script src="/javascripts/main-built.js"></script>
    {{/optimize}}

    {{^optimize}}
        <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>
    {{/optimize}}

  </body>
</html>