
<div class="app-warper">
    <div class="ipad">
        <div id="gamefield"></div>
    </div>
</div>

<div id="instruction">
	<video width="320" id="instruction-video">
		<source src="/videos/instruction.mp4" type="video/mp4" >
		<source src="/videos/instruction.ogv" type="video/ogg">
		<source src="/videos/instruction.ogv" type="video/webm">
	</video>
	<div>Das Instruction Video kommt später!</div>
</div>

<div id="sessionid">{{sessionid}}</div>
<div id="registername">{{registername}}</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>