<div id="gamefield"></div>
<div id="sessionid">{{sessionid}}</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>
