
<div class="app-warper">
    <div class="ipad">
        <div id="gamefield"></div>
    </div>
</div>
<div id="sessionid">{{sessionid}}</div>
<div id="registername">{{registername}}</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>